.card + .card,
.card__rest {
  margin-top: rem(30px);
}

.card {
  display: flex;
  flex-grow: 1;
  position: relative;

  &.card--large {
    @include tablet {
      flex-direction: column;
    }
  }
}

.card__rest {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  @include tablet {
    margin-top: 0;
  }
}

.card__box {
  border: rem(1px) solid $black;
  border-radius: rem(6px);
  padding: rem(5px);
  display: flex;
  width: rem(100px);

  @include tablet {
    width: 25%;

    .card--large & {
      width: 50%;
    }
  }


  &::before {
    content: '';
    padding-top: 100%;
    display: block;
  }
}

.card__checkbox {
  position: absolute;
  visibility: hidden;
}

.card__box-inner {
  align-items: flex-end;
  border-radius: rem(5px);
  color: rgba($white, .7);
  display: flex;
  flex-grow: 1;
  font-size: rem(30px);
  padding: rem(10px);
}

.card__list {
  flex: 1;
  list-style-position: inside;
  list-style-type: disc;
  margin-top: rem(20px);
  padding-left: rem(20px);

  .card__checkbox:checked ~ & {
    opacity: .5;
  }
}

.card__label {
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
