
.tab-widget__content {
  display: flex;
}

.tab-widget {
  max-width: rem(700px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.tab-widget__title {
  flex: 1;
}

.tab-widget__nav {
  display: flex;
  align-self: center;
}

.tab-widget__tab {
  a {
    text-transform: uppercase;
    font-size: rem(12px);
    font-weight: bold;
    color: $gray;
  }

  &.is-active a {
    color: $orange
  }
}

.tab-widget__tab + .tab-widget__tab {
  margin-left: $container-margin;
}

.tab-widget__tabs {
  border: rem(1px) solid #000;
  border-radius: rem(10px);
  padding: rem(15px);
  flex-basis: 100%;

  @include tablet {
    padding: rem(30px);
  }
}

.tab-widget__content {
  display: none;
  flex-grow: 1;
  flex-direction: column;

  @include tablet {
    flex-direction: row;

    > .tab__item {
      flex-direction: column;
    }
  }

  &.is-active {
    display: flex;
  }
}
