// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

// Black.
$black: #000;
$lighter-black: #0a131c;

// White.
$white: #fff;

// Gray.
$gray: #6c7177;
$silver: #ccc;
$gray-33: #333;
$gray-35: #353535;
$gray-5f: #5f5f5f;
$gray-8a: #8a8a8a;
$gray-d2: #d2d2d2;
$gray-e9: #e9e9e9;
$gray-f3: #f3f3f3;
$dark-gray: #3c3c3c;
$lighter-gray: #3b4249;
$medium-gray: #767676;
$filter-gray: #f6f7f8;
$class-navbar-gray: #ecf0f3;

// Blue.
$blue: #3571ee;
$light-blue: #0696d7;
$header-selection-blue: #087aad;
$turquoise-blue: #00a0b7;
$aqua-blue: #66bfe9;
$pigeon-post: #aec9de;
$pigeon-post-light: rgba($pigeon-post, .75);
$snow-white: #edf9ff;

// Green.
$dark-green: #005c4d;
$green: #61a063;
$teal: #00a48a;
$greendark: #006857;

// Orange.
$orange: #fa1;
$melon: #f5a623;

// Yellow.
$yellow: #f8e71c;
$search-result-pin: #ff0;

// Red.
$grape-red: #731e24;

// Pink.
$pink: #e08dbe;

// Icons.
$icon-fb-color: #3653a2;
$icon-li-color: #07b;
$icon-tw-color: #18a0f9;
