// TYPOGRAPHY
// Override ForgeCMS Base typography and define new typographic styles in this file.

html {
  font-size: $base-font-size;
}

body {
  color: $type-base-color;
  font-family: 'Montserrat', sans-serif;
  line-height: $type-base-line;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base 0;
}

img,
picture {
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%;
}

h1 {
  font-size: rem(32px);
  font-weight: bold;
  line-height: 1;
  margin-bottom: rem(20px);
}

a {
  text-decoration: none;
}