// -----------------------------------------------------------------------------
// Type
// -----------------------------------------------------------------------------
// Set typography basics.
$base: rem($base-font-size);

$type-base-size: rem(14px);
$type-base-line: rem(18px);
$type-base-height: rem(20px);
$type-base-color: $lighter-black;

$type-small-size: rem(12px);
$type-small-line:	rem(16px);
$type-small-color: $lighter-black;

$base-border: rem(1px) solid $lighter-black;
// Add global paths.
$image-path: '../images/';

$container-margin: rem(15px);

$tablet-width: em(768px) * 1em;
$desktop-width: em(1024px) * 1em;
