<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    {% set cards %}
      {% include 'components/cards-widget.twig' %}
    {% endset %}
    {% include 'components/tabs-widget.twig' with {
      "heading": "Please select one font",
      "cards": cards,
    } only %}
    <script src="js/scripts.js"></script>
  </body>
</html>
