// LAYOUT
// This is the main layout file.
// This file should be used to define the primary page layout that each of the page types will be extending.
// This includes global styles for html, body, etc.

@viewport {
  width: extend-to-zoom;
  zoom: 1;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1;
}

svg {
  max-width: 100%;
  height: auto;
}

body {
  padding: 0 $container-margin;
}
