{% set classes = [
  modifier is defined ? " card--" ~ modifier : '',
] %}
<div class="card{{ classes|join(' ') }}">
  <input type="checkbox" name="{{ id }}" id="{{ id }}" class="card__checkbox">
  <label for="{{ id }}" class="card__label"></label>
  <div class="card__box">
    <div class="card__box-inner{{ card_color is defined ? " bg--" ~ card_color : "bg--green" }}">
      {{ abbr }}
    </div>
  </div>
  <ul class="card__list">
    <li>{{ label }}</li>
  </ul>
</div>