{% set card_list = [
    {
      "modifier": "large",
      "id": 'merriweather',
      "card_color": 'green',
      "abbr": "M",
      "label": 'Merriweather project is led by Sorkin Type'
    },
    {
      "id": 'roboto',
      "card_color": 'pink',
      "abbr": "R",
      "label": "Roboto doesn't compromise, allowing letters"
    },
    {
      "id": 'noto-sans',
      "card_color": 'blue',
      "abbr": "NS",
      "label": "Noto Sans covers 30 scripts"
    }
  ]
%}

{% set rest = card_list|slice(1,2) %}
{% include 'card.twig' with {
  "modifier": card_list|first.modifier,
  "id": card_list|first.id,
  "card_color": card_list|first.card_color,
  "abbr": card_list|first.abbr,
  "label": card_list|first.label
} only %}
<div class="card__rest">
  {% for card in rest %}
    {% include 'card.twig' with {
      "modifier": card.modifier,
      "id": card.id,
      "card_color": card.card_color,
      "abbr": card.abbr,
      "label": card.label
    } only %}
  {% endfor %}
</div>
