{% set tabs = [
  {
    "title": "My Fonts",
    "content": cards
  },
  {
    "title": "Buy Fonts",
    "content": "Ut leo. Nullam vel sem. Duis leo. Nam at tortor in tellus interdum sagittis. In ac felis quis tortor malesuada pretium. Etiam ultricies nisi vel augue. In hac habitasse platea dictumst. Phasellus tempus. Morbi vestibulum volutpat enim. Sed in libero ut nibh placerat accumsan."
  }
] %}
<div class="tab-widget js-tab-widget">
  <h1 class="tab-widget__title">
    {{ heading }}
  </h1>
  <ul class="tab-widget__nav">
    {% for tab in tabs %}
      <li class="tab-widget__tab js-tab-widget__trigger{{ loop.first ? ' is-active' : '' }}" data-index="{{ loop.index }}">
        <a href="javascript:;">
          {{ tab.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-widget__tabs">
    {% for tab in tabs %}
      <div class="tab-widget__content js-tab-widget__content{{ loop.first ? ' is-active' : '' }}" data-index="{{ loop.index }}">
        {{ tab.content }}
      </div>
    {% endfor %}
  </div>
</div>