.clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Background and text color helpers.
// In order to add a new background and text color helper class+extend - add a new item inside $helper-colors variable;
$helper-colors: (
  'white': $white,
  'green': $green,
  'pink': $pink,
  'blue': $blue,
  'black': $black,
  'gray': $gray
);

@each $name, $color in $helper-colors {
  .bg--#{$name} {
    background-color: $color;
  }

  .text--#{$name} {
    color: $color;
  }
}

// Text helpers.
// In order to add a new text helper class+extend - add a new item with values inside $text-helper-styles variable.
$text-helper-styles: (
  'align': (
    left,
    center,
    right,
    justify
  ),
  'decoration': (
    none,
    underline
  ),
  'transform': (
    none,
    uppercase,
    lowercase,
    capitalize
  )
);

@each $property, $values in $text-helper-styles {
  @each $value in $values {
    .text-#{$property}--#{$value} {
      text-#{$property}: $value;
    }
  }
}
